# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Alembic
alembic/versions/*.pyc

# Storage
storage/

# Docker
*.pid
docker-compose.override.yml

# Misc
*.sqlite3
*.db

# Test
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# PGAdmin
pgadmin/
